<div class="container-fluid weather-app">
  <div class="row">
    <h3 class="text-center mb-0">Weather Details</h3>
    <div class="col-3 border-end pt-4">
      <h5>City List</h5>
      <div class="city-list" *ngIf="cityList.length">
        <div
          class="card mb-3 cursor-p"
          [ngClass]="item.active ? 'active' : ''"
          *ngFor="let item of cityList; let $index = index"
          (click)="getCityDetails(item)"
        >
          <div class="card-body">
            <label class="card-subtitle text-muted"> {{ item.key }}</label>
            <span class="float-end cursor-p" (click)="removeCity($event, item);">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                />
                <path
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                />
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="city-list empty" *ngIf="!cityList.length">No city added!</div>
    </div>
    <div class="col-9 pt-4">
      <div class="col-6">
        <form>
          <div class="input-group mb-3">
            <input
              type="text"
              name="cityName"
              class="form-control"
              placeholder="Enter city"
              aria-label="Enter city input"
              aria-describedby="basic-addon2"
              [(ngModel)]="cityInput"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="handleSearch(cityInput)"
              >
                Search
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-12 current-weather" *ngIf="weatherDetails">
        <div class="temp-block text-center">
          <div class="date">{{ weatherDetails.date }}</div>
          <div class="city">
            <b>{{ weatherDetails.name + ", " + weatherDetails.sys.country }}</b>
          </div>
          <img
            src="{{
              'https://openweathermap.org/img/wn/' +
                weatherDetails.weather[0].icon +
                '@2x.png'
            }}"
            alt="weather image"
          />
          <div class="weather-type">
            <span
              >Feels like
              {{ Math.trunc(weatherDetails.main.feels_like) }}°C.</span
            >
            <span>{{ weatherDetails.weather[0].description }}</span>
            <span>Gentle Breeze</span>
          </div>
        </div>

        <div class="weather-details mt-3">
          <label class="mb-2">
            <span>{{ weatherDetails.wind.speed }} m/s E</span>
            <span title="wind speed" class="wind-speed float-end"></span>
          </label>
          <label class="mb-2">
            <span>{{ weatherDetails.main.pressure }} hPa</span>
            <span title="wind pressure" class="wind-pressure float-end"></span>
          </label>
          <label class="mb-2">
            <span>Humidity : </span>
            <span class="float-end">{{ weatherDetails.main.humidity }} %</span>
          </label>
          <label>
            <span>UV : </span>
            <span class="float-end">4</span>
          </label>
          <label>
            <span>Dew point : </span>
            <span class="float-end">9°C</span>
          </label>
          <label>
            <span>Visibility : </span>
            <span class="float-end"
              >{{ Math.round(weatherDetails.visibility / 100) / 10 }} km</span
            >
          </label>
        </div>
      </div>

      <div class="col-12 empty-block" *ngIf="!weatherDetails">
        <h5>No results found!</h5>
      </div>
    </div>
  </div>
</div>
